@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
*,
*:before,
*:after {
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}
body {
    margin: 0;
    /* background-color: rgba(239, 42, 35, 0.02); */
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
}
p {margin: 0;}
em {font-style: normal; text-align: center;}
.delete {text-decoration: line-through;}
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 7rem;
    padding: 0 20rem 0 1rem;
    background-color: #fff;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.15); 
}
.contents {
    padding: 0 1rem 15rem;
}
.project-name {
    width: 16rem;
    color: #000;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
}
.document-name {
    position: relative;
    margin-left: 1rem;
    padding-left: 3rem;
    color: #767676;
}
.document-name:before {
    content: "";
    position: absolute;
    top: 1.1rem;
    left: 0;
    width: 2rem;
    height: .1rem;
    background-color: #767676;
}
.nav {
    position: absolute;
    top:0;
    right: 0;
}
.nav__link {
    display: block;
    width: 20rem;
    padding: 2.3rem 2rem;
    background-color: #ef2a23;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    transition: background-color .2s ease-in-out;
}
.nav__link:hover,
.nav__link:focus {
    background-color: #00256c;
}
.quick {
    position: fixed;
    top: 10rem;
    left: 5rem;
    margin-right: 25rem;
}
.quick__list {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}
.quick__item {
    padding: .5rem;
}
.quick__link {
    display: block;
    min-width: 12rem;
    padding: 1.2rem 2rem;
    border: 1px solid #625fa3;
    border-radius: .3rem;
    color: #4541D2;
    text-decoration: none;
    word-break: break-all;
    box-shadow: 0 .1rem .3rem 0 rgba(71, 100, 171, .1);
    transition: background-color .2s ease-in-out,
                box-shadow .2s ease-in-out,
                transform .2s ease-in-out;
}
@media (max-width: 50rem) {
    .quick__link {
        min-width: auto;
    }
}
.quick__link:hover,
.quick__link:focus {
    background-color: #fff;
    box-shadow: 0 .8rem .8rem 0 rgba(71, 100, 171, .1);
    transform: translateY(-0.3rem);  
}
.section {
    padding-top: 9rem;
    margin-bottom: -2rem;

}
.section:after {
    content: "";
    display: block;
    clear: both;
}
.heading {
    position: relative;
    padding: 2rem 2rem 2rem 1.2rem;
    color: #282634;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.2;
}
.heading:before {
    content: "";
    position: absolute;
    top: 2.6rem;
    left: 0;
    width: .3rem;
    height: 1.7rem;
    background-color: #2930E2;
}
.title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
    border-bottom: 1px solid #C4C4D9;
}

.table .title div {
    flex: .8;
    padding: 2rem .5rem;
    color: #999;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    white-space: nowrap;
    word-break: break-all;
    vertical-align: middle;
    text-align: center;
}
.table a div {
    flex: .8;
    padding: 1rem .5rem;
    color: #555;
    font-size: 1.3rem;
    vertical-align: middle;
    text-align: center;
}
.table .title div:nth-child(1) {
    flex: .4;
    padding: 2rem 0;
}
.table a div:nth-child(1) {
    flex: .4;
    /* padding: 1.5rem 0; */
    /* font-style: normal;  */
    /* font-size: 11px;  */
    /* color: #999; */
}
.table .title div:nth-child(6) {
    flex: .5;
}
.table a div:nth-child(6) {
    flex: .5;
}
.table .title div:nth-child(7) {
    flex: 1.6;
}
.table a div:nth-child(7) {
    flex: 1.6;
    text-align: left;
}
.table .title div:nth-child(8) {
    flex: .7;
}
.table .title div:nth-child(9) {
    flex: .7;
}
.table a div:nth-child(8) {
    flex: .7;
    font-family: "Nunito Sans", "Noto Sans KR", sans-serif;
}
.table a div:nth-child(9) {
    flex: .7;
    font-size: 1.2rem;
    font-family: "Nunito Sans", "Noto Sans KR", sans-serif;
}
.table .title div:nth-last-child(3) {
    display: none;
    flex: none;
    width: 6rem;
    padding: 2rem .2rem;
    text-align: center;
}
.table a div:nth-last-child(3) {
    display: none;
    flex: none;
    width: 6rem;
    padding: 1rem .2rem;
    color: #666;
    text-align: center;
}
.table .title div:nth-last-child(2) {
    display: none;
    flex: none;
    width: 20rem;
    padding: 2rem .2rem;
    text-align: center;
}
.table a div:nth-last-child(2) {
    display: none;
    flex: none;
    width: 20rem;
    padding: 1rem .2rem;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}
.table .title div:nth-child(10) ~ div {
    flex: .5;
    text-align: center;
}
.table a div:nth-child(10) ~ div {
    flex: .5;
    text-align: center;
}
.table .title div:nth-last-child(1) {
    flex: 1.5 !important;
    width: 7rem;
    padding: 2rem .2rem;
    text-align: center;
}
.table a div:nth-last-child(1) {
    flex: 1.5 !important;
    width: 7rem;
    padding: 1rem .2rem;
    text-align: left !important;
    font-size: 1.2rem;
}

@media (min-width: 1060px) {
    .project-name {
        width: auto;
    }
    .table .title div:nth-last-child(3) {
        display: block;
    }
    .table .title div:nth-last-child(2) {
        display: block;
    }
    .table a div:nth-last-child(3) {
        display: block;
    }
    .table a div:nth-last-child(2) {
        display: block;
    }
}

.table a {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dedeea;
    text-decoration: none;
    transition: background-color .2s ease-in-out,
                box-shadow .2s ease-in-out,
                transform .2s ease-in-out,
                opacity .2s ease-in-out;
}
.table.-filter-wa a,
.table.-filter-dmo a {
    opacity: .2;
}
.table a.delete {cursor: not-allowed;text-decoration: line-through;}
.table.-filter-wa a.-wa {
    opacity: 1;
    background-color: transparent;
}
.table.-filter-dmo a.-dmo {
    opacity: 1;
    background-color: transparent;
}
.table a.-del {
    background-color: rgba(0,0,0,.05);
    text-decoration: line-through;
}
.table a.-latest {
    background-color: #fff;
    border-radius: .5rem;
    box-shadow:
        0 0 .5rem 0 rgba(71, 100, 171, .15),
        0 .3rem 1.5rem 0 rgba(71, 100, 171, .1);
    transform: translateY(-0.3rem); 
}
.table a.-del.-latest {
    background-color: rgba(0,0,0,.05);
    border-radius: 0;
    box-shadow: none;
    transform: translateY(0);
}
.table a:hover,
.table a:focus {
    border-radius: .5rem;
    background-color: #fff;
    box-shadow:
        0 0 .5rem 0 rgba(71, 100, 171, .15),
        0 .3rem 1.5rem 0 rgba(71, 100, 171, .1);
    transform: translateY(-0.3rem);    
}
.table a.-del:hover,
.table a.-del:focus {
    background-color: rgba(0,0,0,.05);
    box-shadow: none;
    transform: translateY(0);
}

.tab:before,
.toast:before,
.alert-pop:before,
.slide-pop:before,
.center-pop:before,
.bot-btn-pop:before,
.full-pop:before {content:"FP"; display:inline-block; padding: 3px; margin-right: 3px; line-height:12px; font-size: 10px; border-radius: 3px; color: #fff;  text-align:center; background: #2d9eff; font-family: "Nunito Sans", "Noto Sans KR", sans-serif;}
.tab:before {content:"Tab"; background: #a436f7;}
.toast:before {content:"Toast"; background:#e2782d;}
.alert-pop:before {content:"AP"; background:#c53c3c;}
.slide-pop:before {content:"SP"; background: #e686ab;;}
.center-pop:before {content:"Pop"; background: #66c7ba;}
.bot-btn-pop:before {content:"Btn P"; letter-spacing: 0.5px; background: #f5cd6a;}
.table a div.-app:before {
    content: "A";
    display: inline-block;
    margin-right: .4rem;
    padding: 0 .5rem .1rem;
    border-radius: .2rem;
    background-color: #7860fe;
    color: #fff;
    font: 1.2rem "Nunito Sans", "Noto Sans KR", sans-serif;
    vertical-align: .1rem;
}

.o__id,
.o__name {
    display: block;
    color: #999;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: -.1rem;
    word-break: break-all;
    font-family: "Nunito Sans", "Noto Sans KR", sans-serif;
}
i {
    display: inline-block;
    color: #767676;
    font-style: normal;
    font-size: 1.3rem;
    text-align: center;
}
i:before {
    content: "작업전";
}
i:after {
    content: "";
    display: block;
    width: 4.9rem;
    margin: .3rem auto 0;
    height: .5rem;
    border-radius: .25rem;
    background-image: linear-gradient(90deg,#d0d7e4 0, #d0d7e4 1.5rem, transparent 1.5rem, transparent 1.7rem, #d0d7e4 1.7rem, #d0d7e4 3.2rem, transparent 3.2rem, transparent 3.4rem, #d0d7e4 3.4rem, #d0d7e4 4.9rem, transparent 4.9rem);
}

[progress="해당없음"]:before {
    content: attr(progress);
}

[progress="해당없음"]:after {
    background: #d0d7e4;
}

[progress="작업중"]:before {
    content: attr(progress);
}

[progress="작업중"]:after {
    background-image: linear-gradient(90deg,#145ecf 0, #145ecf 1.5rem, transparent 1.5rem, transparent 1.7rem, #d0d7e4 1.7rem, #d0d7e4 3.2rem, transparent 3.2rem, transparent 3.4rem, #d0d7e4 3.4rem, #d0d7e4 4.9rem, transparent 4.9rem);
}

[progress="보류"]:before {
    content: attr(progress);
}

[progress="보류"]:after {
    animation: defer 2s infinite;
}

@keyframes defer {
    33% {
        background-image: linear-gradient(90deg,tomato 0, tomato 1.5rem, transparent 1.5rem, transparent 1.7rem, #d0d7e4 1.7rem, #d0d7e4 3.2rem, transparent 3.2rem, transparent 3.4rem, #d0d7e4 3.4rem, #d0d7e4 4.9rem, transparent 4.9rem);
    }

    66% {
        background-image: linear-gradient(90deg,#d0d7e4 0, #d0d7e4 1.5rem, transparent 1.5rem, transparent 1.7rem, tomato 1.7rem, tomato 3.2rem, transparent 3.2rem, transparent 3.4rem, #d0d7e4 3.4rem, #d0d7e4 4.9rem, transparent 4.9rem);
    }

    100% {
        background-image: linear-gradient(90deg,#d0d7e4 0, #d0d7e4 1.5rem, transparent 1.5rem, transparent 1.7rem, #d0d7e4 1.7rem, #d0d7e4 3.2rem, transparent 3.2rem, transparent 3.4rem, tomato 3.4rem, tomato 4.9rem, transparent 4.9rem);
    }
}

[progress="검수중"]:before {
    content: attr(progress);
}

[progress="검수중"]:after {
    background-image: linear-gradient(90deg,#f8c657 0, #f8c657 1.5rem, transparent 1.5rem, transparent 1.7rem, #f8c657 1.7rem, #f8c657 3.2rem, transparent 3.2rem, transparent 3.4rem, #d0d7e4 3.4rem, #d0d7e4 4.9rem, transparent 4.9rem); 
}

[progress="완료"]:before {
    content: attr(progress);
}

[progress="완료"]:after {
    background-image: linear-gradient(90deg,#329f43 0, #329f43 1.5rem, transparent 1.5rem, transparent 1.7rem, #329f43 1.7rem, #329f43 3.2rem, transparent 3.2rem, transparent 3.4rem, #329f43 3.4rem, #329f43 4.9rem, transparent 4.9rem);
}

.function {
    display: flex;
    overflow: hidden;
    position: fixed;
    bottom: -5rem;
    left: 50%;
    border-radius: 2.5rem;
    transform: translateX(-50%);
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,.2);
    transition: bottom .6s;
}

.function.-active {
    bottom: 5rem;
}
.function__top {
    min-width: 15rem;
    height: 4.5rem;
    margin: 0;
    padding: 0 2rem;
    border: 0;
    background-color: #2930E2;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
}
.function__latest {
    display: none;
    min-width: 15rem;
    height: 4.5rem;
    margin: 0;
    padding: 0 2rem;
    border: 0;
    outline: 0;
    background-color: #fff;
    color: #2930E2;
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
}

.function__latest.-active {
    display: block;
}

.legends {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 2rem;
}
.legend {
    color: #999;
    font-size: 1rem;
    text-transform: uppercase;
}
.legend + .legend {
    margin-left: 1rem;
}
.legend.-dialog:before {
    content: "D";
    display: inline-block;
    margin-right: .4rem;
    padding: 0 .5rem .1rem;
    border-radius: .2rem;
    background-color: #0158ff;
    color: #fff;
    font: 1.2rem "Nunito Sans", "Noto Sans KR", sans-serif;
    vertical-align: .1rem;
}
.legend.-tab:before {
    content: "T";
    display: inline-block;
    margin-right: .4rem;
    padding: 0 .5rem .1rem;
    border-radius: .2rem;
    background-color: #00c2ff;
    color: #fff;
    font: 1.2rem "Nunito Sans", "Noto Sans KR", sans-serif;
    vertical-align: .1rem;
}
.legend.-win:before {
    content: "W";
    display: inline-block;
    margin-right: .4rem;
    padding: 0 .5rem .1rem;
    border-radius: .2rem;
    background-color: #7860fe;
    color: #fff;
    font: 1.2rem "Nunito Sans", "Noto Sans KR", sans-serif;
    vertical-align: .1rem;
}
.legend.-link:before {
    content: "L";
    display: inline-block;
    margin-right: .4rem;
    padding: 0 .5rem .1rem;
    border-radius: .2rem;
    background-color: #cb81e0;
    color: #fff;
    font: 1.2rem "Nunito Sans", "Noto Sans KR", sans-serif;
    vertical-align: .1rem;
}

@media (min-width: 1060px) {
    .legends {
        justify-content: flex-end;
        margin-right: 5rem;
    }
    .legend {
        font-size: 1.3rem;
    }
    .legend + .legend {
        margin-left: 3rem;
    }
}
.menulist {
    display: flex;
    align-items: center;
    position: fixed;
    top: 7rem;
    left: 0;
    z-index: 10;
    background: #f7f7ff;
    width: 100%;
    height: 11rem;
}
.filters {
    position: fixed;
    top: 12rem;
    right: 5rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    z-index: 10;
}

.filter {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    cursor: pointer;
}
.filter + .filter {
    margin-left: 3rem;
}
.filter__track {
    display: flex;
    width: 5rem;
    margin: 0;
    margin-right: 1rem;
    padding: .5rem;
    border: 0;
    border-radius: 2rem;
    background-color: #e7e7e7;
}
.filter:hover .filter__track {
    background-color: #d7d7d7;
}
.filter.-active .filter__track {
    background-color: #2930E2;
}
.filter__thumb {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.2);
    transition: transform .4s;
}
.filter.-active .filter__thumb {
    transform: translateX(100%);
}
.filter__text {
    color: #666;
    line-height: 1.2;
}
.filter.-active .filter__text {
    color: #1a1a1a;
    font-weight: 700;
}
.totalBox {
    position: fixed;
    right: 24rem;
    top: 2.2rem;
    z-index: 100;
    height: 2rem;
}
@media (max-width: 50rem) {
    .totalBox {
        display: none;
    }
}
.totalBox span {
    float: left;
    margin-left: 3rem; 
}
.totalBox span:before {
    vertical-align:bottom;
}
.total_all:before {
    content: '전체 : ';
    color: red;
}
.total_before:before { 
    content: '작업전 : ';
    color: gray;
}
.total_ing:before{
    content :'작업중 : ';
    color: blue ;
}
.total_confirm:before{
    content: '검수중 : ';
    color: #f8c657;
}
.total_ok:before{
    content:'완료 : ';
    color: green;
}
.total_progress:before{
    content:'진행률 : ';
    color: green;
}
.heading>.totalBox {
    position: absolute;
    right: 0;
    top: 2.2rem;
    z-index: 1;
    height: 2rem;
    font-size: 1.6rem;
}
.myframe {
    display: none;
    position: fixed;
    top: 50%;
    right: 35%;
    -webkit-transform: translate(35%, -50%) scale(0.3);
    -moz-transform: translate(35%, -50%) scale(0.3);
    transform: translate(35%, -50%) scale(0.3);
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    background: #fff;
    z-index: 1001;
}
.go_link a{display:inline-block;margin:0;font-size:1.6rem;color:#666; text-decoration: none; padding: 2px 4px;}
.go_link a:hover {color: #333;}

.del>div {text-decoration:line-through;}

@media (max-width: 50rem) {
    .header {
        padding:0 1rem;
    }
    .project-name {
        width:30rem !important;
        font-size:1.6rem !important;
    }
    .document-name,
    .nav {
        display:none;
    }
    .menulist {
        margin-top:8rem;
        height:10rem;
        top:5rem;
        flex-direction: column;
        position: static;
        align-items:flex-start;
        padding:0 1rem;
    }
    .filters {
        position:static;
        left:0;
        right:auto;
        margin:2rem 0 0 0;
    }
    .quick {
        position: static;
        margin:0;
    }
    .quick__list {
        flex-wrap:nowrap;
    }
    .quick__item {
        font-size:1.2rem;
    }
    .quick__link {
        padding:.7rem 1rem;
        min-width: 7rem;
        text-align:center;
    }
    .section {
        padding-top:2rem;
    }
    .contents {
        padding:0;
    }
    /* .table .title div:nth-last-child(6)~div,
    .table a div:nth-last-child(6)~div {
        display:none;
    } */
    .go_link a,
    .go_link a:hover {
        font-size:1.4rem;
    }
    .section {
        margin-bottom: 0;
    }
}

.divider {width:100%;height:1px;margin:0;padding:0;background-color:#dedeea;border:0;}
.divider_dealer {width:100%;height:40px;background:#666;color:#fff;text-align:center;line-height:40px;}
.unit:nth-of-type(2) {display:inline-block;padding-left:40px;}

.tag {display:inline-block;;height:22px;padding:0 8px;background-color:#ff673e;border-radius:30px;font-size:12px;line-height:22px;color:#fff;}
