@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
*{margin:0; padding:0; box-sizing:border-box;}
html{width:100%; height:100%}
body{position:relative; font-family:"Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight:400; font-size:16px; color:#666; letter-spacing:-0.6px; height:100%; word-break:keep-all; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; line-height:1; -webkit-overflow-scrolling: touch;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{position:absolute; top:-9999px; left:-9999px; z-index:-1}
textarea, button{vertical-align:middle}
input, select{vertical-align:middle; background:#fff; border:1px solid #e1e1e1; font-family:"Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight:400; color:#888; letter-spacing:-0.6px; border-radius:0; font-size:16px}
input{padding:3px 20px;}
option{padding:10px;}
input[type="radio"],input[type="checkbox"] {border:0; padding:0; height:auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {height:40px; border:1px solid #e1e1e1; color:#999; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {width:278px; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
select{padding:5px; height:40px; border:1px solid #e1e1e1; background:#fff;}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #e1e1e1; font-family:"Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight:400; color:#555; font-size:16px; letter-spacing:-0.6px; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius:0}
a{text-decoration:none; color:#555;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
button{background:none; border:none; padding:0; margin:0; cursor:pointer; overflow:visible; white-space: nowrap;  font-size:16px; font-family:'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', sans-serif; font-weight:400}
button:active {outline: none}
button::-moz-focus-inner {padding:0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
strong,b{font-family:'Noto Sans KR'; font-weight:700}
th{font-family:'Noto Sans KR'; font-weight:500}
:root{
  --brandColor: dodgerblue;
}

header{display: flex; justify-content: space-between; position: relative; padding: 0 20px; width: 100%; height: 80px; background-color: #222;}
header h1{color: #fff; line-height: 80px; font-size: 24px;}
header .btn-wrap{position: relative; padding-right: 40px;}
header .btn-wrap a{color: #fff; font-size: 16px; line-height: 80px;}
#contents{display: flex;}
#contents aside{padding: 30px 20px; width: 200px;}
#contents aside a{display: block; padding: 10px 0; color: #333; font-size: 16px;}
#contents aside a i{display: none; padding-left: 3px; transition: all 0.2s ease;}
#contents aside a.active{color: var(--brandColor);}
#contents aside a.active i{display: inline-block;}
#contents aside a:hover i{padding-left: 6px;}
#contents aside .guide-list{margin-left: 10px;}
#contents aside .guide-list a{position: relative; display: inline-block; padding: 5px 0 5px 10px; font-size: 14px;}
#contents aside .guide-list a::before{content: "-"; position: absolute; top: 3px; left: 0;}
.content-area{padding: 30px 20px; width: calc(100% - 200px); line-height: 1.5;}
.content-area section + section{margin-top: 40px;}
.content-area h2{padding-bottom: 15px; font-size: 22px;}
.content-area h3{position: relative; padding-left: 10px; padding-bottom: 10px; font-size: 18px;}
.content-area h3::before{content: ""; display: block; position: absolute; top: 6px; left: 0; width: 3px; height: 18px; background-color: var(--brandColor);}
.table-type1{border-top: 1px solid #333; border-bottom: 1px solid #333;}
.table-type1 thead{border-bottom: 1px solid #333;}
.table-type1 tr{border-bottom: 1px solid #ddd;}
.table-type1 th{padding: 7px 0; font-size: 13px; background-color: #f8f8f8;}
.table-type1 td{padding: 7px 10px; font-size: 13px; border-right: 1px solid #ddd;}
.table-type1 td:last-child{border-right: 0;}
.table-type2{border-top: 1px solid #333; border-bottom: 1px solid #333; text-align: left;}
.table-type2 tr{border-bottom: 1px solid #ddd;}
.table-type2 th{padding: 7px 10px; font-size: 13px; background-color: #f8f8f8;}
.table-type2 td{padding: 7px 10px; font-size: 13px;}
.table-type2 tr:last-child th, .table-type2 tr:last-child td{border-bottom: 0;}
ul.list li{position: relative; margin-bottom: 4px; font-size: 14px;}
ul.list li{position: relative; padding-left: 14px; margin-bottom: 4px; font-size: 14px;}
ul.list li::before{content: "-"; display: inline-block; position: absolute; top: 0; left: 0;}
